Body {
background-color: #ededed;
color: #f6b5a6;
font-family: 'Consolas';
font-size: 10px;
line-height: 18px;
text-align: justify;
}

@font-face {
  font-family: 'Artifika';
  font-style: normal;
  font-weight: 400;
  src: local('Artifika Medium'), local('Artifika-Medium'), url(http://themes.googleusercontent.com/static/fonts/artifika/v4/r0NXNnpds-Akyno8nTG0zfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

A:link, A:visited, A:active {font-family: 'Times New Roman'; font-size: 13px; color: #333; font-style: italic; text-decoration: none; text-transform: lowercase;}

A:hover {cursor: help; text-decoration: none; font-weight: bold;}

A.small {font-size: 9px;}

.title {
font-family: 'Cambria';
font-size: 16px;
padding: 20px;
text-align: center;
text-transform: uppercase;
}

H1 {
color: #c58c8f;
font-family: 'Artifika', serif; 
font-size: 16px; 
font-weight: 400;
text-align: center;
font-style: none;
text-transform: lowercase;
}

H2 {
color: #9DB4AA;
font-family: Arial;
font-size: 9px;
text-align: center;
margin-top: -5px;
}

H3 {
color: #555;
font-family: Arial;
font-size: 10px;
font-weight: normal;
letter-spacing: 1px;
margin-bottom: 10px;
text-transform: uppercase;
}

@mixin circle($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
          	padding: 20px; 
			padding-top: 50px; 
			padding-bottom: 50px; 
	}

#main {
	position: absolute;
	margin-left: 400px;
	margin-top: 300px;
	width: 800px;
	text-align: justify;
	background: #ffffff;
	padding: 20px;
	z-index: 1;
}

#circle {
	position: absolute;
	margin-left: 200px; 
	margin-top: 100px; 
	width: 280px; 
	text-align: center;
	background: #424242;
	z-index: 2;
	@include circle(200px);
	}

header {text-align: center;}

nav {text-align: center;
	border-bottom: 1px dotted #777;
	padding: 10px;
	margin: 10px;}

main {}

.clear {margin-top: 5px; border-top: 1px dotted #ddd;}